@using System.Web.UI.WebControls;
@model Info.Tarea_Info

@{

    if (ViewBag.mensaje != null)
    {

        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>

    }
    ViewBag.Title = "Nueva tarea";
    if (Session["IdUsuario"] == null )
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>


@using (Html.BeginForm("Nuevo", "Tarea", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(v => v.IdTransaccionSession);
    @Html.HiddenFor(v => v.IdTarea);
    @Html.HiddenFor(v => v.IdUsuarioSolicitante, new  { id= "IdUsuarioSolicitante" });

    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdUsuarioSolicitante">Asignar tarea a:*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdUsuarioAsignado, settings =>
               {
                   settings.Name = "IdUsuarioAsignado";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "{0}";
                   settings.Properties.Columns.Add("Nombre", "Usuario").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   //Campo ID
                   settings.Properties.ValueField = "IdUsuario";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "Nombre";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e){mostrar_detalle();}";

               }).BindList(ViewBag.list_usuarios).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdUsuarioAsignado, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaEntrega">Fecha de entrega*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.FechaEntrega, settings =>
                   {
                       settings.Name = "FechaEntrega";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   }).GetHtml()
                        @Html.ValidationMessageFor(q => q.FechaEntrega, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
           

            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdCtaCblePadre">Prioridad de la tarea*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdEstadoPrioridad, settings =>
               {
                   settings.Name = "IdEstadoPrioridad";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "{0}";
                   settings.Properties.Columns.Add("Descripcion", "Estado").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   //Campo ID
                   settings.Properties.ValueField = "IdEstado";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "Descripcion";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

               }).BindList(ViewBag.list_prioridad).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="AprobadoSolicitado"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.AprobadoSolicitado, settings =>
               {
                   settings.Name = "AprobadoSolicitado";
                   settings.Text = "Aprobado solicitante";
                   settings.ReadOnly = true;
               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="AprobadoSolicitado"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.AprobadoEncargado, settings =>
               {
                   settings.Name = "AprobadoEncargado";
                   settings.Text = "Aprobado encargado";
                   settings.ReadOnly = true;

               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="TareaConcurrente"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.TareaConcurrente, settings =>
               {
                   settings.Name = "TareaConcurrente";
                   settings.Text = "Tarea recurrente";
                   settings.Properties.ClientSideEvents.ValueChanged = "function(s,e){mostrar_parametros()}";

               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="AsuntoTarea">Asunto*</label>
                    @Html.TextAreaFor(v => v.AsuntoTarea, new { @class = "form-control", @rows = 2 })
                    @Html.ValidationMessageFor(m => m.AsuntoTarea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="DescripcionTarea">Detalle*</label>
                    @Html.TextAreaFor(v => v.DescripcionTarea, new { @class = "form-control", @rows = 4 })
                    @Html.ValidationMessageFor(m => m.DescripcionTarea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">

            <li class="active">
                <a href="#tab_adjunto" aria-controls="adjunto" role="tab" data-toggle="tab" id="link_adjunto">Archivos adjuntos</a>
            </li>
           
            <li hidden>
                <a href="#tab_parametro" aria-controls="parametros" role="tab" data-toggle="tab" id="link_parametro">Parámetros</a>
            </li>

        </ul>
        <div class="tab-content" style="padding-top: 20px">

            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_adjunto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">


                                @Html.DevExpress().UploadControl(settings =>
                           {
                               settings.Name = "UploadControl_adjunto";
                               settings.CallbackRouteValues = new { Controller = "Tarea", Action = "UploadControl_adjuntoUpload" };

                               settings.AdvancedModeSettings.EnableMultiSelect = true;
                               settings.AdvancedModeSettings.EnableFileList = true;
                               settings.AdvancedModeSettings.EnableDragAndDrop = true;
                               settings.Width =Unit.Percentage(100);
                               settings.Height = Unit.Pixel(50);
                               settings.ShowUploadButton = true;
                               settings.ShowProgressPanel = true;
                               settings.ClientSideEvents.FileUploadComplete= "function(s,e){refres_grid_adjunto();}";
                              // settings.ValidationSettings.Assign(Web.Areas.General.Controllers.TareaControllerUploadControl_adjuntoSettings.UploadValidationSettings);
                           }).GetHtml()
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Action("GridViewPartial_tarea_det_adjunto")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_parametro">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="FechaEntrega">Expira</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.DevExpress().DateEditFor(q => q.FechaFinConcurrencia, settings =>
                                   {
                                       settings.Name = "FechaFinConcurrencia";
                                       settings.Properties.UseMaskBehavior = true;
                                       settings.Properties.EditFormat = EditFormat.Date;
                                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   }).GetHtml()
                                    @Html.ValidationMessageFor(q => q.FechaFinConcurrencia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="DiasIntervaloProximaTarea">Días intervalo</label>
                                @Html.TextBoxFor(v => v.DiasIntervaloProximaTarea, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DiasIntervaloProximaTarea, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Tarea",new { Area = "General" },null)">Cancelar</a>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
    mostrar_parametros();
    mostrar_detalle();



    function refres_grid_adjunto() {
        GridViewPartial_tarea_det_adjunto.PerformCallback();
    };

    function mostrar_detalle()
    {
        var IdUsuarioAsignad =  IdUsuarioAsignado.GetValue();
        var IdUsuarioSolicitant = $("#IdUsuarioSolicitante").val();
        $("#link_adjunto").click();
        if (IdUsuarioAsignad == IdUsuarioSolicitant)
        {
            $("#link_detalle").show();
            AprobadoEncargado.SetChecked(true);
        }
        else
        {
            $("#link_detalle").hide();
            AprobadoEncargado.SetChecked(false);
        }
    };

    function mostrar_parametros() {
        if (TareaConcurrente.GetValue()) {
            $("#link_parametro").show();
        }
        else {
            $("#link_parametro").hide();
        }

    };
</script>