@model Info.Tarea_Info

@{

    if (ViewBag.mensaje != null)
    {

        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>

    }
    ViewBag.Title = "Asignar tarea";
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "AsignarTarea", FormMethod.Post, new { @class = "form", @role = "form" }))
{

    @Html.HiddenFor(v => v.IdTransaccionSession, new { @id = "IdTransaccionSession" });
    @Html.HiddenFor(v => v.IdTarea, new { @id = "IdTarea" });
    @Html.HiddenFor(v => v.FechaInicio);
    @Html.HiddenFor(v => v.FechaCulmina);
    @Html.HiddenFor(v => v.AprobadoEncargado);
    @Html.HiddenFor(v => v.AprobadoSolicitado);
    @Html.HiddenFor(v => v.TareaConcurrente);


    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdGrupo">Grupo*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdGrupo, settings =>
               {
                   settings.Name = "IdGrupo";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "{0}";
                   settings.Properties.Columns.Add("Descripcion", "Grupo").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   settings.Properties.ValueField = "IdGrupo";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "Descripcion";
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e){get_grupo();}";

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.ReadOnly = true;

               }).BindList(ViewBag.list_grupo).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdGrupo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdUsuarioSolicitante">Usuario solicita*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdUsuarioSolicitante, settings =>
               {
                   settings.Name = "IdUsuarioSolicitante";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "{0}";
                   settings.Properties.Columns.Add("Nombre", "Usuario").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   //Campo ID
                   settings.Properties.ValueField = "IdUsuario";
                   settings.Properties.ValueType = typeof(string);
                   settings.Properties.TextField = "Nombre";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.ReadOnly = true;
               }).BindList(ViewBag.list_usuarios).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdUsuarioSolicitante, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdUsuarioAsignado">Usuario Jefe grupo</label>
                    @Html.TextBoxFor(v => v.IdUsuarioAsignado, new { @class = "form-control", @id = "IdUsuarioAsignado", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.IdUsuarioAsignado, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nomb_jef_grupo">Nombre jefe grupo</label>
                    @Html.TextBoxFor(v => v.nomb_jef_grupo, new { @class = "form-control", @id = "nomb_jef_grupo", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.nomb_jef_grupo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="AprobadoSolicitado"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.AprobadoSolicitado, settings =>
               {
                   settings.Name = "AprobadoSolicitado";
                   settings.Text = "Aprobado solicitante";
                   settings.Enabled = false;
               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="AprobadoSolicitado"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.AprobadoEncargado, settings =>
               {
                   settings.Name = "AprobadoEncargado";
                   settings.Text = "Aprobado encargado";
                   settings.Enabled = false;
               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="TareaConcurrente"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.TareaConcurrente, settings =>
               {
                   settings.Name = "TareaConcurrente";
                   settings.Text = "Tarea concurrente";
                   settings.Enabled = false;
               }).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaInicio">Fecha*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.FechaInicio, settings =>
                   {
                       settings.Name = "FechaInicio";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.ReadOnly = true;
                   }).GetHtml()
                        @Html.ValidationMessageFor(q => q.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaCulmina">Fecha fin*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.FechaCulmina, settings =>
                   {
                       settings.Name = "FechaCulmina";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.ReadOnly = true;
                   }).GetHtml()
                        @Html.ValidationMessageFor(q => q.FechaCulmina, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
           
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdCtaCblePadre">Prioridad de la tarea*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdEstadoPrioridad, settings =>
               {
                   settings.Name = "IdEstadoPrioridad";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "{0}";
                   settings.Properties.Columns.Add("Descripcion", "Estado").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                   //Campo ID
                   settings.Properties.ValueField = "IdEstado";
                   settings.Properties.ValueType = typeof(int);
                   settings.Properties.TextField = "Descripcion";
                   //Boton para seleccionar ningun registro
                   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Never;
                   settings.Properties.NullText = "== Seleccione ==";
                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                   settings.Properties.DropDownButton.Enabled = false;
                   settings.ReadOnly = true;

               }).BindList(ViewBag.list_prioridad).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdEstadoPrioridad, "", new { @class = "text-danger" })
                </div>
            </div>
          
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="AsuntoTarea">Asunto*</label>
                    @Html.TextAreaFor(v => v.AsuntoTarea, new { @class = "form-control", @rows = 2, @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.AsuntoTarea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="DescripcionTarea">Detalle*</label>
                    @Html.TextAreaFor(v => v.DescripcionTarea, new { @class = "form-control", @rows = 4, @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.DescripcionTarea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="DescripcionTarea">Observación</label>
                    @Html.TextAreaFor(v => v.ObsevacionModificacion, new { @class = "form-control", @rows = 2 })
                    @Html.ValidationMessageFor(m => m.ObsevacionModificacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_detalle" aria-controls="informacion_items" role="tab" data-toggle="tab">Detalle tarea</a>
            </li>
            <li>
                <a href="#tab_historico" aria-controls="parametros" role="tab" data-toggle="tab" id="link_historico">Histórico</a>
            </li>


        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="" style="margin-left: 1em;" id="tab_detalle">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Action("GridViewPartial_tarea_det", "Tarea")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_historico">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Action("GridViewPartial_tarea_det_estados", "TareaEstados", new { IdTarea = Model.IdTarea })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>





    <div class="box-footer">
        <button type="submit" class="btn btn-primary"btbAprobar">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","AsignarTarea",new { Area = "General" },null)">Cancelar</a>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

