@model Info.Usuario_Info

@{
    ViewBag.Title = "Anular";
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Anular", "Usuario", FormMethod.Post, new { @class = "from", @role = "form" }))
{
    @Html.HiddenFor(v => v.IdUsuario);
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdUsuario"> Usuario*</label>
                    @Html.TextBoxFor(v => v.IdUsuario, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(v => v.IdUsuario, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Nombre"> Nombres*</label>
                    @Html.TextBoxFor(v => v.Nombre, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(v => v.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Clave"> Contraseña</label>
                    @Html.PasswordFor(v => v.Clave, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(v => v.Clave, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Clave"> Correo*</label>
                    @Html.TextBoxFor(v => v.Correo, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(v => v.Correo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","Area",new { Area = "General" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
